/*! 
 Build based on melong-console 
 Time : 1754905284000 */
.card-management[data-v-77b376ea]{padding:20px}.search-bar[data-v-77b376ea]{margin-bottom:20px;display:flex;flex-wrap:wrap;gap:5px}.form-actions[data-v-77b376ea]{display:flex;flex-wrap:nowrap;gap:5px}.form-actions .el-button[data-v-77b376ea]{margin:0}.balance-range[data-v-77b376ea]{margin-bottom:20px}.el-select[data-v-77b376ea]{max-width:150px;margin:0 5px}[data-v-77b376ea] .el-input-group__prepend{padding:0}
