/*! 
 Build based on melong-console 
 Time : 1776966038000 */
.container[data-v-7107cb4c]{padding:20px}.box-card[data-v-7107cb4c]{margin-top:20px}.chain-info[data-v-7107cb4c]{display:flex;justify-content:space-between;margin-top:20px}.chain-info p[data-v-7107cb4c]{display:flex;align-items:center}.chain-info span[data-v-7107cb4c]{margin-right:10px}.button-group[data-v-7107cb4c]{display:flex;justify-content:flex-end;margin-top:20px}
