/*! 
 Build based on melong-console 
 Time : 1754730849000 */
.card-management[data-v-cdc9955a]{padding:20px}.search-bar[data-v-cdc9955a]{margin-bottom:20px;display:flex;flex-wrap:wrap;gap:5px}.form-actions[data-v-cdc9955a]{display:flex;flex-wrap:nowrap;gap:5px}.form-actions .el-button[data-v-cdc9955a]{margin:0}.balance-range[data-v-cdc9955a]{margin-bottom:20px}.el-select[data-v-cdc9955a]{max-width:150px;margin:0 5px}[data-v-cdc9955a] .el-input-group__prepend{padding:0}
