/*! 
 Build based on melong-console 
 Time : 1754675825000 */
.certification-choice-container[data-v-1ea70f55]{display:flex;justify-content:center;padding:40px;flex-wrap:wrap}.box-card[data-v-1ea70f55]{width:360px;margin:20px;cursor:pointer;transition:all .3s ease}.box-card[data-v-1ea70f55]:hover{box-shadow:0 4px 12px rgba(0,0,0,.1)}.center-card[data-v-1ea70f55]{text-align:center}.card-content[data-v-1ea70f55]{padding:20px}
