/*! 
 Build based on melong-console 
 Time : 1755173275000 */
.certification-choice-container[data-v-0f8599e0]{display:flex;justify-content:center;padding:40px;flex-wrap:wrap}.box-card[data-v-0f8599e0]{width:360px;margin:20px;cursor:pointer;transition:all .3s ease;border:1px solid #198754}.box-card[data-v-0f8599e0]:hover{box-shadow:0 4px 12px rgba(33,150,4,.1);border-color:#1e9a60}.center-card[data-v-0f8599e0]{text-align:center}.card-content[data-v-0f8599e0]{padding:20px}
