/*! 
 Build based on melong-console 
 Time : 1754288951000 */
.certification-choice-container[data-v-3e8f075e]{display:flex;justify-content:center;padding:40px;flex-wrap:wrap}.box-card[data-v-3e8f075e]{width:360px;margin:20px;cursor:pointer;transition:all .3s ease}.box-card[data-v-3e8f075e]:hover{box-shadow:0 4px 12px rgba(0,0,0,.1)}.center-card[data-v-3e8f075e]{text-align:center}.card-content[data-v-3e8f075e]{padding:20px}
