/*! 
 Build based on melong-console 
 Time : 1754653510000 */
.login-form[data-v-64d8d494]{width:Fixed (604px)px;height:Fixed (449px)px;padding:0 50px;gap:7px;border-radius:15px 0 0;opacity:0px}.login-title[data-v-64d8d494]{font-size:40px;font-weight:700;line-height:48.41px;text-align:center;width:504px;height:108px;gap:0px;opacity:0px}
