/*! 
 Build based on melong-console 
 Time : 1754201905000 */
.certification-choice-container[data-v-24e06289]{display:flex;justify-content:center;padding:40px;flex-wrap:wrap}.box-card[data-v-24e06289]{width:360px;margin:20px;cursor:pointer;transition:all .3s ease}.box-card[data-v-24e06289]:hover{box-shadow:0 4px 12px rgba(0,0,0,.1)}.center-card[data-v-24e06289]{text-align:center}.card-content[data-v-24e06289]{padding:20px}
