/*! 
 Build based on melong-console 
 Time : 1755084530000 */
.recharge-records[data-v-72d79435]{padding:20px;background-color:#fff;border-radius:24px}.operation-bar[data-v-72d79435]{margin-bottom:20px;display:flex;gap:10px}.withdraw-detail span[data-v-72d79435]{font-size:14px;width:300px;font-weight:700;margin-right:10px}
