/*! 
 Build based on melong-console 
 Time : 1762698436000 */
.container[data-v-233d04f9]{padding:20px}.card-container[data-v-233d04f9]{width:100%;max-width:354px;aspect-ratio:1.586 / 1;padding:clamp(1rem,5%,2rem);background:linear-gradient(342deg,#385dee,#21eadf);box-shadow:0 1px 20px rgba(133,137,151,.2);border-radius:16px;color:#fff;font-family:sans-serif;display:flex;flex-direction:column;justify-content:space-between;position:relative;overflow:hidden}
