/*! 
 Build based on melong-console 
 Time : 1754566959000 */
.card-management[data-v-3e6f4328]{padding:20px}.search-bar[data-v-3e6f4328]{margin-bottom:20px;display:flex;flex-wrap:wrap;gap:5px}.form-actions[data-v-3e6f4328]{display:flex;flex-wrap:nowrap;gap:5px}.form-actions .el-button[data-v-3e6f4328]{margin:0}.balance-range[data-v-3e6f4328]{margin-bottom:20px}.el-select[data-v-3e6f4328]{max-width:150px;margin:0 5px}[data-v-3e6f4328] .el-input-group__prepend{padding:0}
