/*! 
 Build based on melong-console 
 Time : 1754906490000 */
.card-management[data-v-a5f35f8d]{padding:20px}.search-bar[data-v-a5f35f8d]{margin-bottom:20px;display:flex;flex-wrap:wrap;gap:10px 5px}.form-actions[data-v-a5f35f8d]{display:flex;flex-wrap:nowrap;overflow:auto;gap:5px}.form-actions .el-button[data-v-a5f35f8d]{margin:0}.balance-range[data-v-a5f35f8d]{margin-bottom:20px}.el-select[data-v-a5f35f8d]{max-width:150px}[data-v-a5f35f8d] .el-input-group__prepend{padding:0}
