/*! 
 Build based on melong-console 
 Time : 1754675553000 */
.card-management[data-v-09233ec5]{padding:20px}.search-bar[data-v-09233ec5]{margin-bottom:20px;display:flex;flex-wrap:wrap;gap:5px}.form-actions[data-v-09233ec5]{display:flex;flex-wrap:nowrap;gap:5px}.form-actions .el-button[data-v-09233ec5]{margin:0}.balance-range[data-v-09233ec5]{margin-bottom:20px}.el-select[data-v-09233ec5]{max-width:150px;margin:0 5px}[data-v-09233ec5] .el-input-group__prepend{padding:0}
