/*! 
 Build based on melong-console 
 Time : 1760687397000 */
.container[data-v-343870cc]{padding:20px}.box-card[data-v-343870cc]{margin-top:20px}.chain-info[data-v-343870cc]{display:flex;justify-content:space-between;margin-top:20px}.chain-info p[data-v-343870cc]{display:flex;align-items:center}.chain-info span[data-v-343870cc]{margin-right:10px}.button-group[data-v-343870cc]{display:flex;justify-content:flex-end;margin-top:20px}
