/*! 
 Build based on melong-console 
 Time : 1754399315000 */
.container[data-v-2ac5a731]{padding:20px}.box-card[data-v-2ac5a731]{margin-top:20px}.chain-info[data-v-2ac5a731]{display:flex;justify-content:space-between;margin-top:20px}.chain-info p[data-v-2ac5a731]{display:flex;align-items:center}.chain-info span[data-v-2ac5a731]{margin-right:10px}.button-group[data-v-2ac5a731]{display:flex;justify-content:flex-end;margin-top:20px}
