/*! 
 Build based on melong-console 
 Time : 1754662730000 */
.container[data-v-cd2ae066]{padding:20px}.box-card[data-v-cd2ae066]{margin-top:20px}.chain-info[data-v-cd2ae066]{display:flex;justify-content:space-between;margin-top:20px}.chain-info p[data-v-cd2ae066]{display:flex;align-items:center}.chain-info span[data-v-cd2ae066]{margin-right:10px}.button-group[data-v-cd2ae066]{display:flex;justify-content:flex-end;margin-top:20px}
