/*! 
 Build based on melong-console 
 Time : 1754201905000 */
.recharge-records[data-v-8c76220d]{padding:20px;background-color:#fff;border-radius:24px}.operation-bar[data-v-8c76220d]{margin-bottom:20px;display:flex;gap:10px}.withdraw-detail span[data-v-8c76220d]{font-size:14px;width:300px;font-weight:700;margin-right:10px}
