/*! 
 Build based on gin-vue-admin 
 Time : 1757179028000 */
.container[data-v-28dc8d0e]{padding:20px}.demo-form-inline[data-v-28dc8d0e]{margin-bottom:20px}.el-pagination[data-v-28dc8d0e]{margin-top:20px;text-align:center}[data-v-28dc8d0e] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-28dc8d0e]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
