/*! 
 Build based on gin-vue-admin 
 Time : 1761276347000 */
.container[data-v-d73f2ec6]{padding:20px}.demo-form-inline[data-v-d73f2ec6]{margin-bottom:20px}.el-pagination[data-v-d73f2ec6]{margin-top:20px;text-align:center}[data-v-d73f2ec6] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-d73f2ec6]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
