/*! 
 Build based on gin-vue-admin 
 Time : 1754731104000 */
.container[data-v-3b4d0c29]{padding:20px}.demo-form-inline[data-v-3b4d0c29]{margin-bottom:20px}.el-pagination[data-v-3b4d0c29]{margin-top:20px;text-align:center}[data-v-3b4d0c29] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-3b4d0c29]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
