/*! 
 Build based on gin-vue-admin 
 Time : 1754388578000 */
.header[data-v-576fc2a2]{padding:0;background-color:#fff;box-shadow:0 2px 4px rgba(0,0,0,.12)}.right-icons[data-v-576fc2a2]{display:flex;justify-content:flex-end;gap:10px}.logo[data-v-576fc2a2]{align-self:center;height:60px;padding-bottom:20px}@media (max-width: 1000px){.logo[data-v-576fc2a2]{align-self:center;height:40px;padding-bottom:10px}}
