/*! 
 Build based on gin-vue-admin 
 Time : 1757235098000 */
.container[data-v-1d632378]{padding:20px}.demo-form-inline[data-v-1d632378]{margin-bottom:20px}.el-pagination[data-v-1d632378]{margin-top:20px;text-align:center}[data-v-1d632378] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-1d632378]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
