/*! 
 Build based on gin-vue-admin 
 Time : 1775135737000 */
.container[data-v-68df290c]{padding:20px}.demo-form-inline[data-v-68df290c]{margin-bottom:20px}.el-pagination[data-v-68df290c]{margin-top:20px;text-align:center}[data-v-68df290c] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-68df290c]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
