/*! 
 Build based on gin-vue-admin 
 Time : 1755593500000 */
.container[data-v-828cc04e]{padding:20px}.demo-form-inline[data-v-828cc04e]{margin-bottom:20px}.el-pagination[data-v-828cc04e]{margin-top:20px;text-align:center}[data-v-828cc04e] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-828cc04e]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
