/*! 
 Build based on gin-vue-admin 
 Time : 1754566973000 */
.container[data-v-494aad72]{padding:20px}.demo-form-inline[data-v-494aad72]{margin-bottom:20px}.el-pagination[data-v-494aad72]{margin-top:20px;text-align:center}[data-v-494aad72] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-494aad72]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
