/*! 
 Build based on gin-vue-admin 
 Time : 1762695492000 */
.container[data-v-97bf4eac]{padding:20px}.demo-form-inline[data-v-97bf4eac]{margin-bottom:20px}.el-pagination[data-v-97bf4eac]{margin-top:20px;text-align:center}[data-v-97bf4eac] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-97bf4eac]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
