/*! 
 Build based on gin-vue-admin 
 Time : 1765967016000 */
.container[data-v-43729aca]{padding:20px}.demo-form-inline[data-v-43729aca]{margin-bottom:20px}.el-pagination[data-v-43729aca]{margin-top:20px;text-align:center}[data-v-43729aca] .el-row{width:100%;padding:0}.el-dropdown-link[data-v-43729aca]{cursor:pointer;color:var(--el-color-primary);display:flex;align-items:center}
